<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MultasARG</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 style="color: white">MultasARG</h1>
        <nav>
            <a href="/">Inicio</a> |
            <a href="/personas">Personas</a> |
            <a href="/vehiculos">Vehículos</a> |
            <a href="/multas">Multas</a> |
            <a href="/accidentes">Accidentes</a> 
        </nav>
    </header>
    <main>
